{% extends 'layout.html'%}
{% import "macros.html" as macros %}
{% block header %}
{% block page_title %}<title>Add Recipe &nbsp;—&nbsp; My Recipe Planner</title>{% endblock %}
{% endblock %}
{% block content %}

<!-- Main Content Start -->
<div class="container py-4">
    <main class="form-recipe m-auto">
        <form id="main-form" method="POST" action="" class="form px-lg-5 px-md-3 px-sm-2">
            {{ form.hidden_tag() }}

            <h1 class="h3 mb-3">{{ form.label }}</h1>

            <div class="d-flex flex-nowrap justify-content-between">
                <div class="form-floating mb-3 me-2 flex-grow-1">
                    {{ form.title(class_="form-control w-100", id_="floatingInput") }}
                    <label for="floatingInput">{{ form.title.label }}</label>
                </div>
                <div class="form-floating mb-3">
                    {{ form.category(class_="form-control w-100 category-list", id_="floatingInput") }}
                    <label for="floatingInput">{{ form.category.label }}</label>
                </div>
            </div>

            <div class="form-floating mb-3">
                {{ form.imgUrl(class_="form-control", id_="floatingInput") }}
                <label for="floatingInput">{{ form.imgUrl.label.text }}</label>
            </div>

            <div class="d-flex recipe-times">
                <div class="form-floating mb-3 servings-count">
                    {{ form.servings(class_="form-control", id_="floatingInput") }}
                    <label for="floatingInput">{{ form.servings.label.text }}</label>
                </div>
                <div class="form-floating mb-3 ms-1 ready-time">
                    {{ form.readyInMinutes(class_="form-control", id_="floatingInput") }}
                    <label for="floatingInput">{{ form.readyInMinutes.label.text }}</label>
                </div>
                <div class="form-floating mb-3 ms-1 prep-time">
                    {{ form.preparationMinutes(class_="form-control", id_="floatingInput") }}
                    <label for="floatingInput">{{ form.preparationMinutes.label.text }}</label>
                </div>
                <div class="form-floating mb-3 ms-1 cook-time">
                    {{ form.cookingMinutes(class_="form-control", id_="floatingInput") }}
                    <label for="floatingInput">{{ form.cookingMinutes.label.text }}</label>
                </div>
            </div>

            <div class="form-floating mb-3 recipe-description">
                {{ form.description(class_="form-control", id_="floatingInput") }}
                <label for="floatingInput">{{ form.description.label.text }}</label>
            </div>

            <hr class="my-5"/>

            <div class="position-relative">
                <div class="mb-3 d-flex align-items-center ingredients-title">
                    <h4 class="me-3">Ingredients</h4>
                    <a class="add-new-ingredient btn btn-success py-1 rounded-3 fw-medium" href="#">Add</a>
                </div>
                <div id="subforms-container-ingredients">
                    {% for ingredients_subform in form.ingredients %}
                    {{ macros.render_ingredients_form(ingredients_subform, loop.index0) }}
                    {% endfor %}
                </div>
            </div>

            <hr class="my-5"/>
            
            <div class="position-relative">
                <div class="mb-3 d-flex align-items-center steps-title">
                    <h4 class="me-3">Steps</h4>
                    <a class="add-new-step btn btn-success py-1 rounded-3 fw-medium" href="#">Add</a>
                </div>
                <div id="subforms-container-steps">
                    {% for steps_subform in form.steps %}
                    {{ macros.render_steps_form(steps_subform, loop.index0) }}
                    {% endfor %}
                </div>
            </div>

            <div class="form-check signin-div-btn my-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary px-4 py-2 fs-5 me-3">Add Recipe</button>
                <a class="btn btn-outline-secondary fw-medium fs-5 px-4" href="{{ url_for('main_bp.profile') }}">Cancel</a>
            </div>
        </form>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        
    </main>
</div>
{{ macros.render_ingredients_form(_template, '_') }}
{{ macros.render_steps_form(steps_template, '_') }}
<!-- Main Cntent End -->
{% endblock content %}