{% extends 'layout.html' %}
{% block header %}
{% block page_title %}<title>Main &nbsp;—&nbsp; My Recipe Planner</title>{% endblock %}
{% endblock %}
{% block content %}

<!-- Recipes tabs Start -->
<div class="container-xxl py-5">

    <div class="container mt-5">
        <div class="row my-recipes">
            <section class="mt-0 mb-4 mb-md-5 desserts-box">
                <div class="divider my-4">
                    <div class="divider-text my-2">
                        <h3 class="mb-0">Latest Added Recipes</h3>
                    </div>
                </div>

                <div class="row my-favorites">
                    <div class="recipe-cards-center mt-4">
                        <div class="recipe-top-cats align-items-start">
                            <div class="recipe-top-cards">
                                {% for recipe in latest_recipes %}
                                <div class="card position-relative">
                                    <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}" class="">
                                        <img src="{{ recipe['imgUrl'] }}" class="rounded-4 card-img-container"
                                            alt="Menu" />
                                    </a>
                                    <form action="{{ url_for('recipes_bp.toggle_favorite', recipe_id=recipe.id) }}"
                                        method="POST" class="position-absolute end-0 ">
                                        <button type="button" data-recipe-id="{{ recipe.id }}"
                                            class="toggle-favorite-btn btn bg-light position-absolute end-0 py-1 px-2 mt-1 me-1 rounded-4">
                                            {% if recipe in current_user.favorites %}
                                            <i class="bi bi-heart-fill text-danger"></i>
                                            {% else %}
                                            <i class="bi bi-heart-fill text-body-tertiary"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                    <div class="card-body">
                                        <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}"
                                            class="text-black mt-1 text-decoration-none card-title recipe-card-title d-flex justify-content-center">
                                            <h5>{{ recipe['title'] }}</h5>
                                        </a>
                                    </div>
                                    <div class="recipe-stats d-flex justify-content-between">
                                        <div class="left-stats d-flex flex-column align-items-start">
                                            <div class="recipe-prep-time mb-2">
                                                <i class="bi bi-stopwatch"></i>
                                                <span>{{ recipe.readyInMinutes }}</span>
                                            </div>
                                            <div class="recipe-likes">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                                <span>{{ recipe.cookingMinutes }}</span>
                                            </div>
                                        </div>
                                        <div class="right-stats d-flex flex-column align-items-end">
                                            <div class="recipe-level mb-2">
                                                <span>{{ recipe.servings }}</span>
                                            </div>
                                            <div class="recipe-reviews">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half d-none"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Recipe Popular Start -->
    <div class="container">
        <div class="divider my-4">
            <div class="divider-text my-2">
                <h3 class="mb-0">Most Popular Recipes</h3>
            </div>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom pb-3 mb-4">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-md-3 mx-sm-0 ms-0 nav-link active"
                        data-bs-toggle="pill" href="#tab-1">
                        <div>
                            <small class="text-body">Popular</small>
                            <h6 class="mt-n1 mb-0">Main</h6>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-md-3 mx-sm-0 nav-link" data-bs-toggle="pill"
                        href="#tab-2">
                        <!-- <i class="fa fa-hamburger fa-2x text-primary"></i> -->
                        <div class="">
                            <small class="text-body">Top</small>
                            <h6 class="mt-n1 mb-0">Bakery</h6>
                        </div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-md-3 mx-sm-0 me-0 nav-link" data-bs-toggle="pill"
                        href="#tab-3">
                        <div class="">
                            <small class="text-body">New</small>
                            <h6 class="mt-n1 mb-0">Dessert</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- Tab 1 -->
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row">
                        <div class="recipe-cards-index">
                            <div class="recipe-top-cats align-items-start">
                                <h3 class="recipe-cat-title ms-3">Main Course</h3>
                                <div class="recipe-top-cards">
                                    {% for recipe in recipes %}
                                    <div class="card position-relative">
                                        <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}" class="">
                                            <img src="{{ recipe['imgUrl'] }}" class="rounded-4 card-img-container"
                                                alt="Menu" />
                                        </a>
                                        <form action="{{ url_for('recipes_bp.toggle_favorite', recipe_id=recipe.id) }}"
                                            method="POST" class="position-absolute end-0 ">
                                            <button type="button" data-recipe-id="{{ recipe.id }}"
                                                class="toggle-favorite-btn btn bg-light position-absolute end-0 py-1 px-2 mt-1 me-1 rounded-4">
                                                {% if recipe in current_user.favorites %}
                                                <i class="bi bi-heart-fill text-danger"></i>
                                                {% else %}
                                                <i class="bi bi-heart-fill text-body-tertiary"></i>
                                                {% endif %}
                                            </button>
                                        </form>
                                        <div class="card-body">
                                            <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}"
                                                class="text-black mt-1 text-decoration-none card-title recipe-card-title d-flex justify-content-center">
                                                <h5>{{ recipe['title'] }}</h5>
                                            </a>
                                        </div>
                                        <div class="recipe-stats d-flex justify-content-between">
                                            <div class="left-stats d-flex flex-column align-items-start">
                                                <div class="recipe-prep-time mb-2">
                                                    <i class="bi bi-stopwatch"></i>
                                                    <span>{{ recipe.readyInMinutes }}</span>
                                                </div>
                                                <div class="recipe-likes">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                    <span>{{ recipe.cookingMinutes }}</span>
                                                </div>
                                            </div>
                                            <div class="right-stats d-flex flex-column align-items-end">
                                                <div class="recipe-level mb-2">
                                                    <span>{{ recipe.servings }}</span>
                                                </div>
                                                <div class="recipe-reviews">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-half d-none"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tab 1 -->

                <div id="tab-2" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="recipe-cards-index mt-4">
                            <div class="recipe-top-cats align-items-start">
                                <h3 class="recipe-cat-title ms-3">Bakery</h3>
                                <div class="recipe-top-cards">
                                    {% for recipe in bakery %}
                                    <div class="card position-relative">
                                        <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}" class="">
                                            <img src="{{ recipe['imgUrl'] }}" class="rounded-4 card-img-container"
                                                alt="Menu" />
                                        </a>
                                        <form action="{{ url_for('recipes_bp.toggle_favorite', recipe_id=recipe.id) }}"
                                            method="POST" class="position-absolute end-0 ">
                                            <button type="button" data-recipe-id="{{ recipe.id }}"
                                                class="toggle-favorite-btn btn bg-light position-absolute end-0 py-1 px-2 mt-1 me-1 rounded-4">
                                                {% if recipe in current_user.favorites %}
                                                <i class="bi bi-heart-fill text-danger"></i>
                                                {% else %}
                                                <i class="bi bi-heart-fill text-body-tertiary"></i>
                                                {% endif %}
                                            </button>
                                        </form>
                                        <div class="card-body">
                                            <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}"
                                                class="text-black mt-1 text-decoration-none card-title recipe-card-title d-flex justify-content-center">
                                                <h5>{{ recipe['title'] }}</h5>
                                            </a>
                                        </div>
                                        <div class="recipe-stats d-flex justify-content-between">
                                            <div class="left-stats d-flex flex-column align-items-start">
                                                <div class="recipe-prep-time mb-2">
                                                    <i class="bi bi-stopwatch"></i>
                                                    <span>{{ recipe.readyInMinutes }}</span>
                                                </div>
                                                <div class="recipe-likes">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                    <span>{{ recipe.cookingMinutes }}</span>
                                                </div>
                                            </div>
                                            <div class="right-stats d-flex flex-column align-items-end">
                                                <div class="recipe-level mb-2">
                                                    <span>{{ recipe.servings }}</span>
                                                </div>
                                                <div class="recipe-reviews">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-half d-none"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tab-3" class="tab-pane fade show p-0">
                    <div class="row g-4">
                        <div class="recipe-cards-index mt-4">
                            <div class="recipe-top-cats align-items-start">
                                <h3 class="recipe-cat-title ms-3">Dessert</h3>
                                <div class="recipe-top-cards">
                                    {% for recipe in dessert %}
                                    <div class="card position-relative">
                                        <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}" class="">
                                            <img src="{{ recipe['imgUrl'] }}" class="rounded-4 card-img-container"
                                                alt="Menu" />
                                        </a>
                                        <form action="{{ url_for('recipes_bp.toggle_favorite', recipe_id=recipe.id) }}"
                                            method="POST" class="position-absolute end-0 ">
                                            <button type="button" data-recipe-id="{{ recipe.id }}"
                                                class="toggle-favorite-btn btn bg-light position-absolute end-0 py-1 px-2 mt-1 me-1 rounded-4">
                                                {% if recipe in current_user.favorites %}
                                                <i class="bi bi-heart-fill text-danger"></i>
                                                {% else %}
                                                <i class="bi bi-heart-fill text-body-tertiary"></i>
                                                {% endif %}
                                            </button>
                                        </form>
                                        <div class="card-body">
                                            <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}"
                                                class="text-black mt-1 text-decoration-none card-title recipe-card-title d-flex justify-content-center">
                                                <h5>{{ recipe['title'] }}</h5>
                                            </a>
                                        </div>
                                        <div class="recipe-stats d-flex justify-content-between">
                                            <div class="left-stats d-flex flex-column align-items-start">
                                                <div class="recipe-prep-time mb-2">
                                                    <i class="bi bi-stopwatch"></i>
                                                    <span>{{ recipe.readyInMinutes }}</span>
                                                </div>
                                                <div class="recipe-likes">
                                                    <i class="bi bi-hand-thumbs-up"></i>
                                                    <span>{{ recipe.cookingMinutes }}</span>
                                                </div>
                                            </div>
                                            <div class="right-stats d-flex flex-column align-items-end">
                                                <div class="recipe-level mb-2">
                                                    <span>{{ recipe.servings }}</span>
                                                </div>
                                                <div class="recipe-reviews">
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-fill"></i>
                                                    <i class="bi bi-star-half d-none"></i>
                                                    <i class="bi bi-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recipe Popular End -->

    <div class="container mt-5">
        <div class="row my-recipes">

            <section class="mt-0 mb-4 mb-md-5 desserts-box">
                <div class="divider my-4">
                    <div class="divider-text my-2">
                        <h3 class="mb-0">Appetizer Recipes</h3>
                    </div>
                </div>

                <div class="row my-favorites">
                    <div class="recipe-cards-center mt-4">
                        <div class="recipe-top-cats align-items-start">
                            <div class="recipe-top-cards">
                                {% for recipe in appetizer %}
                                <div class="card position-relative">
                                    <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}" class="">
                                        <img src="{{ recipe['imgUrl'] }}" class="rounded-4 card-img-container"
                                            alt="Menu" />
                                    </a>
                                    <form action="{{ url_for('recipes_bp.toggle_favorite', recipe_id=recipe.id) }}"
                                        method="POST" class="position-absolute end-0 ">
                                        <button type="button" data-recipe-id="{{ recipe.id }}"
                                            class="toggle-favorite-btn btn bg-light position-absolute end-0 py-1 px-2 mt-1 me-1 rounded-4">
                                            {% if recipe in current_user.favorites %}
                                            <i class="bi bi-heart-fill text-danger"></i>
                                            {% else %}
                                            <i class="bi bi-heart-fill text-body-tertiary"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                    <div class="card-body">
                                        <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}"
                                            class="text-black mt-1 text-decoration-none card-title recipe-card-title d-flex justify-content-center">
                                            <h5>{{ recipe['title'] }}</h5>
                                        </a>
                                    </div>
                                    <div class="recipe-stats d-flex justify-content-between">
                                        <div class="left-stats d-flex flex-column align-items-start">
                                            <div class="recipe-prep-time mb-2">
                                                <i class="bi bi-stopwatch"></i>
                                                <span>{{ recipe.readyInMinutes }}</span>
                                            </div>
                                            <div class="recipe-likes">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                                <span>{{ recipe.cookingMinutes }}</span>
                                            </div>
                                        </div>
                                        <div class="right-stats d-flex flex-column align-items-end">
                                            <div class="recipe-level mb-2">
                                                <span>{{ recipe.servings }}</span>
                                            </div>
                                            <div class="recipe-reviews">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half d-none"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Recipes tabs End -->

{% endblock %}