{% extends 'layout.html'%} {% block header %} {% block page_title %}<title>{{ recipe[0].title }} &nbsp;—&nbsp; My Recipe Planner</title>{% endblock %} {% endblock %} {% block
content %}

<!-- Main Content Start -->
{% if recipe %} {% for recipe_data in recipe %}
<div class="main-content container">
    <section class="recipe-components my-3 my-md-4">
        <div class="d-sm-flex">
            <h3 class="py-3 mb-0 h2">{{ recipe_data.title }}</h3>
        </div>

        <div class="d-flex align-items-center flex-wrap m-auto">
            <div class="me-4 d-flex align-items-center gap-1">
                <img src="../static/images/avatar/2.jpg" class="rounded-circle" style="width: 48px !important" alt="Avatar" />
                {% if recipe_data.user %}
                <small class="pl-1">{{ recipe_data.user.first_name }}</small>
                {% else %}
                <small class="pl-1">Unknown</small>
                {% endif %}
            </div>

            <div class="me-4 d-flex align-items-center gap-1">
                <i class="bi bi-calendar-week"></i>
                {% if recipe_data.created_at %}
                <small> {{ recipe_data.created_at.strftime('%B %d, %Y') }} </small>
                {% else %}
                <small class="pl-1">Unknown Date</small>
                {% endif %}
            </div>

            <div class="me-4 d-flex align-items-center gap-1">
                <i class="bi bi-chat-dots"></i>
                <small>25</small>
            </div>

            <div class="me-4 d-flex align-items-center">
                <div class="recipe-reviews">
                    <i class="bi bi-star-fill text-primary"></i>
                    <i class="bi bi-star-fill text-primary"></i>
                    <i class="bi bi-star-fill text-primary"></i>
                    <i class="bi bi-star-half text-primary"></i>
                    <i class="bi bi-star text-primary"></i>
                </div>
            </div>
        </div>

        <div class="recipe-detail mt-3 mt-xl-4">
            <div class="recipe-cover">
                <img src="{{ recipe_data.imgUrl }}" class="card-img-container" alt="" />
            </div>
            <div class="row mt-3 mt-xl-4">
                <div class="recipe-stats d-flex flex-row flex-wrap gap-1 w-100">
                    <div class="recipe-stats-card d-flex flex-column align-items-start bg-body-tertiary shadow-sm rounded px-3 py-2">
                        <small class="text-body">Prep Time</small>
                        <h6 class="">{{recipe_data.preparationMinutes}} minutes</h6>
                    </div>
                    <div class="recipe-stats-card d-flex flex-column align-items-start bg-body-tertiary shadow-sm rounded px-3 py-2">
                        <small class="text-body">Cook Time</small>
                        <h6 class="">{{recipe_data.cookingMinutes}} minutes</h6>
                    </div>
                    <div class="recipe-stats-card d-flex flex-column align-items-start bg-body-tertiary shadow-sm rounded px-3 py-2">
                        <small class="text-body">Servings</small>
                        <h6 class="">{{recipe_data.servings}}</h6>
                    </div>
                    <div class="recipe-stats-card d-flex flex-column align-items-start bg-body-tertiary shadow-sm rounded px-3 py-2">
                        <small class="text-body">Category</small>
                        <h6 class="">{% if recipe_data.category %}{{ recipe_data.category.name }}{% else %}Unknown{%endif%}</h6>
                    </div>
                </div>

                <div class="recipe-details">
                    <div class="ingredients-list mt-3 mt-md-3 bg-light ps-3 pt-3 rounded">
                        <h3>Ingredients</h3>
                        <div class="checklist pb-4">
                            {% for ingredient in recipe_data.ingredients %}
                            <div class="form-check recipe-checkbox my-2">
                                <input type="checkbox" id="crackers{{ loop.index }}" name="crackers{{ loop.index }}" class="form-check-input" />
                                <label class="form-check-label" for="crackers{{ loop.index }}">
                                    <span class="fw-medium">
                                        {% if ingredient.quantity == 0.25 %}
                                        <span style="font-size: 22px">&#x00BC;</span>
                                        {% elif ingredient.quantity == 0.5 %}
                                        <span style="font-size: 22px">&#x00BD;</span>
                                        {% elif ingredient.quantity == 0.75 %}
                                        <span style="font-size: 22px">&#x00BE;</span>
                                        {% else %} {{ "{:.3f}".format(ingredient.quantity).rstrip('0').rstrip('.') }} {% endif %}
                                    </span>
                                    <span class="fw-medium">{{ ingredient.unit }}</span>
                                    <span class="fw-medium">{{ ingredient.ingredient_name }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="steps-list me-5 border-md-right">
                        <div class="instructions mt-3 mt-md-3">
                            <h3>Instructions</h3>
                            <ul class="instruction-list list-unstyled">
                                {% for step in recipe_data.steps %}
                                <li class="d-flex">
                                    <span class="align-self-start fw-bold me-3">{{ loop.index }}</span>
                                    <p>{{ step.instruction }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2 mt-md-3 pt-3 pb-1 pt-md-3">
            <h2 class="mb-3">Already made this?</h2>
            <a href="#" class="btn btn-outline-primary px-5">Share your feedback</a>
            <hr class="text-primary" />
        </div>

        <div class="write-comment">
            <form class="leave-comment bg-light d-flex flex-wrap p-4">
                <textarea placeholder="Leave a comment..." class="form-control h-auto"></textarea>
                <div class="">
                    <button type="button" class="btn btn-primary px-5">Post comment</button>
                </div>
            </form>
        </div>

        <div class="comments my-4 pt-0 pt-md-3">
            <div class="border-bottom mb-4 pb-3">
                <h2 class="d-inline-block">Comments</h2>
                <span class="f-size-24">(25)</span>
            </div>
            <ul class="recipe-comments list-unstyled">
                <ol class="list-unstyled mb-3">
                    <li class="comment-item">
                        <div class="media d-flex align-items-center gap-3">
                            <a href="#" class="recipe-avatar align-self-start">
                                <img src="../static/images/avatar/2.jpg" class="rounded-circle" style="width: 48px !important" alt="Avatar" />
                            </a>
                            <div class="media-body">
                                <div class="mb-1 d-flex align-items-top">
                                    <div class="me-3">
                                        <h6 class="fw-bold mb-0">Salli</h6>
                                        <div class="text-gray-300">41min</div>
                                    </div>
                                    <a href="#" class="comment-reply"><i class="bi bi-reply-fill"></i> Reply</a>
                                </div>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </li>
                </ol>

                <ol class="list-unstyled mb-3">
                    <li class="comment-item">
                        <div class="media d-flex align-items-center gap-3">
                            <a href="#" class="recipe-avatar align-self-start">
                                <img src="../static/images/avatar/4.jpg" class="rounded-circle" style="width: 48px !important" alt="Avatar" />
                            </a>
                            <div class="media-body">
                                <div class="mb-1 d-flex align-items-top">
                                    <div class="me-3">
                                        <h6 class="fw-bold mb-0">Juwairiya</h6>
                                        <div class="text-gray-300">3h</div>
                                    </div>
                                    <a href="#" class="comment-reply"><i class="bi bi-reply-fill"></i> Reply</a>
                                </div>
                                <p>Aut minima animi commodi excepturi quas autem perferendis repellat praesentium recusandae maxime tenetur officia ex 🔥</p>
                            </div>
                        </div>
                    </li>
                </ol>

                <ol class="list-unstyled">
                    <li class="comment-item">
                        <div class="media d-flex align-items-center gap-3">
                            <a href="#" class="recipe-avatar align-self-start">
                                <img src="../static/images/avatar/1.jpg" class="rounded-circle" style="width: 48px !important" alt="Avatar" />
                            </a>
                            <div class="media-body">
                                <div class="mb-1 d-flex align-items-top">
                                    <div class="me-3">
                                        <h6 class="fw-bold mb-0">Farida</h6>
                                        <div class="text-gray-300">1d</div>
                                    </div>
                                    <a href="#" class="comment-reply"><i class="bi bi-reply-fill"></i> Reply</a>
                                </div>
                                <p>Hic commodi adipisci eos nulla magnam, repellendus recusandae qui eius fuga vitae voluptatem unde rem pariatur at tenetur labore! Provident.</p>
                            </div>
                        </div>
                    </li>
                </ol>
            </ul>
        </div>
    </section>

    <hr class="text-primary" />

    <section class="recipe-might-like my-4 my-md-5">
        <h5 class="py-3 mb-0">You might also like</h5>
        <div class="recipe-cards-center mt-4">
            <div class="recipe-top-cats align-items-start">
                <div class="recipe-top-cards">
                    <div class="card">
                        <a href="#">
                            <img src="../static/images/stock/stock15.jpg" class="card-img-container" alt="" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title recipe-card-title d-flex justify-content-center">Toaste in less than 10 minutes</h5>
                        </div>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img src="../static/images/stock/stock8.jpg" class="card-img-container" alt="" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title recipe-card-title">Eastern Sausage Sandwich</h5>
                        </div>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img src="../static/images/stock/stock7.jpg" class="card-img-container" alt="" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title recipe-card-title">Mediterranean Omelette</h5>
                        </div>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img src="../static/images/stock/stock17.jpg" class="card-img-container" alt="" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title recipe-card-title d-flex justify-content-center">Mix Cheese Pizza</h5>
                        </div>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img src="../static/images/stock/stock21.jpg" class="card-img-container" alt="" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title recipe-card-title">Sheesh Tawooq</h5>
                        </div>
                    </div>

                    <div class="card">
                        <a href="#">
                            <img src="../static/images/stock/stock23.jpg" class="card-img-container" alt="" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title recipe-card-title">Strawberry Cheese Cake</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endfor %} {% endif %}
<!-- Main Cntent End -->
{% endblock content %}
