{% extends 'layout.html'%} {% block header %} {% block page_title %}<title>Registeration &nbsp;—&nbsp; My Recipe Planner</title>{% endblock %} {% endblock %} {% block
page_header_bar %} {% endblock %} {% block content %}
<div class="container d-flex justify-content-center w-50 py-4">
    <main class="form-register m-auto">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <a class="navbar-brand my-4 d-flex align-items-center justify-content-center" href="{{ url_for('main_bp.landing_page') }}">
                <img src="../static/images/logos/recipe_planner_orange.png" alt="" class="me-2" />
                <span class="brand-name fw-bold fs-3 pb-0">My Recipe Planner</span>
            </a>
            <h1 class="h3 mb-3 fw-normal">Register</h1>

            <div class="d-flex">
                <div class="form-floating col-6 mb-3 me-1">
                    {{ form.first_name(class_="form-control register-fname", id_="floatingInput") }}
                    <label for="floatingInput">Fist Name</label>
                </div>
                <div class="form-floating col-6 mb-3 ms-1">
                    {{ form.last_name(class_="form-control register-lname", id_="floatingInput") }}
                    <label for="floatingInput">Last Name</label>
                </div>
            </div>

            
            <div class="d-flex ms-3">
                <label class="form-check-label" for="gender">
                  Gender
                </label>
                {{ form.gender }}
              </div>
            
            <div class="form-floating mb-3">
                {{ form.email(class_="form-control register-form", id_="floatingInput") }}
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.username(class_="form-control username", id_="floatingInput") }}
                <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.password(class_="form-control register-form", id_="floatingPassword") }}
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check signin-div-btn my-3 d-flex justify-content-center">{{ form.submit(class_="btn btn-primary w-50 py-2 fs-5") }}</div>
        </form>
        <div class="divider">
            <div class="divider-text my-2">OR</div>
        </div>
        <div class="form-check my-3 d-flex justify-content-center">
            <div class="d-flex align-items-center">
                <label class="me-2">Already have an account? </label>
                <a class="btn btn-outline-primary fw-medium fs-5 px-3" href="{{ url_for('auth_bp.login') }}">Login</a>
            </div>
        </div>
    </main>
</div>

{% block page_footer %} {% endblock %} {% endblock %}
