{% extends 'layout.html' %} {% block header %} {% block page_title %}<title>Search &nbsp;—&nbsp; My Recipe Planner</title>{% endblock %} {% endblock %} {% block content %}

<!-- Recipes tabs Start -->

<div class="container-xxl py-5">
    <div class="container mt-5">
        <div class="row my-recipes">
            <section class="mt-0 mb-4 mb-md-5 desserts-box">
                <div class="divider my-4">
                    <div class="divider-text my-2">
                        <h3 class="mb-0">Search Results</h3>
                    </div>
                </div>

                <div class="row my-favorites">
                    <div class="recipe-cards-center mt-4">
                        <div class="recipe-top-cats align-items-start">
                            <div class="recipe-top-cards" id="results">    
                                {% for recipe in recipes %}
                                <div class="card position-relative">
                                    <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}" class="">
                                        <img src="{{ recipe['imgUrl'] }}" class="rounded-4 card-img-container"
                                            alt="Menu" />
                                    </a>
                                    <form action="{{ url_for('recipes_bp.toggle_favorite', recipe_id=recipe.id) }}"
                                        method="POST" class="position-absolute end-0 ">
                                        <button type="button" data-recipe-id="{{ recipe.id }}"
                                            class="toggle-favorite-btn btn bg-light position-absolute end-0 py-1 px-2 mt-1 me-1 rounded-4">
                                            {% if recipe in current_user.favorites %}
                                            <i class="bi bi-heart-fill text-danger"></i>
                                            {% else %}
                                            <i class="bi bi-heart-fill text-body-tertiary"></i>
                                            {% endif %}
                                        </button>
                                    </form>
                                    <div class="card-body">
                                        <a href="{{ url_for('recipes_bp.recipe', recipe_title=recipe.title.replace(" ", "_")) }}"
                                            class="text-black mt-1 text-decoration-none card-title recipe-card-title d-flex justify-content-center">
                                            <h5>{{ recipe['title'] }}</h5>
                                        </a>
                                    </div>
                                    <div class="recipe-stats d-flex justify-content-between">
                                        <div class="left-stats d-flex flex-column align-items-start">
                                            <div class="recipe-prep-time mb-2">
                                                <i class="bi bi-stopwatch"></i>
                                                <span>{{ recipe.readyInMinutes }}</span>
                                            </div>
                                            <div class="recipe-likes">
                                                <i class="bi bi-hand-thumbs-up"></i>
                                                <span>{{ recipe.cookingMinutes }}</span>
                                            </div>
                                        </div>
                                        <div class="right-stats d-flex flex-column align-items-end">
                                            <div class="recipe-level mb-2">
                                                <span>{{ recipe.servings }}</span>
                                            </div>
                                            <div class="recipe-reviews">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-half d-none"></i>
                                                <i class="bi bi-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<!-- Recipes tabs End -->

{% endblock %}